@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:wght@300..800&display=swap');

:root {
  font-family: 'Host Grotesk', sans-serif;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}